# db
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# service server port
EUREKA_SERVER_PORT=
CONFIG_SERVER_PORT=
GATEWAY_SERVER_PORT=
USER_SERVER_PORT=
TRADE_SERVER_PORT=
ASSET_SERVER_PORT=
STOCK_SERVER_PORT=
PORTFOLIO_SERVER_PORT=
COMPETITION_SERVER_PORT=
RANKING_SERVER_PORT=
AI_SERVER_PORT=
NOTIFICATION_SERVER_PORT=

# db schema
USER_SCHEMA=
TRADE_SCHEMA=
ASSET_SCHEMA=
STOCK_SCHEMA=
PORTFOLIO_SCHEMA=
COMPETITION_SCHEMA=
RANKING_SCHEMA=
AI_SCHEMA=
NOTIFICATION_SCHEMA=

# redis
SPRING_DATA_REDIS_PORT=
SPRING_DATA_REDIS_HOST=
SPRING_DATA_REDIS_PASSWORD=
SPRING_DATA_REDIS_URL=

# kafka
KAFKA_PORT=
KAFKA_UI_PORT=
KAFKA_INTERNAL_PORT=
KAFKA_EXTERNAL_PORT=

# zookeeper
ZOOKEEPER_CLIENT_PORT=

# openai
OPENAI_API_KEY=

# jwt
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

# Kakao API
KAKAO_API_KEY=

# slack
SLACK_USER_TOKEN=
SLACK_BASE_URL=
SLACK_CONVERSATION_OPEN_URL=
SLACK_CHAT_POST_MESSAGE_URL=